@media (min-width: 375px) {
  .body {
    background-color: black;
  }
  .container {
    max-width: 380px;
    margin: auto;
    padding: auto;
  }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .header__h1 {
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    width: 18rem;
    text-align: center;
  }
  .header .navbar {
    width: 2rem;
    height: 2rem;
    justify-content: center;
    position: relative;
  }
  .header .navbar__button {
    width: 100%;
    height: 100%;
  }
  .header .navbar:hover .navbar__ul {
    opacity: 1;
    visibility: visible;
  }
  .header .navbar__ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #e7e7e7;
    width: 10rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    position: absolute;
    z-index: 999;
  }
  .header .navbar__ul--li {
    border-bottom: 1px solid #ddd;
  }
  .header .navbar__ul--li a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: #333;
  }
  .header .navbar__ul--li a:hover {
    background-color: #ddd;
  }
  .section {
    margin: 2rem auto 3rem auto;
    display: flex;
    width: 70%;
    height: 20rem;
  }
  .section__img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.5;
    transition: 0.5s ease;
  }
  .section__img:hover {
    cursor: crosshair;
    width: 50%;
    opacity: 1;
    filter: contrast(120%);
  }
  .footer {
    text-align: center;
  }
  .footer__p {
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .footer__a {
    text-decoration: none;
  }
  .footer__a:visited {
    text-decoration: none;
    color: white;
  }
  .sectiontext {
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .sectiontext__h2, .sectiontext__p {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sectiontext__h2 {
    text-align: center;
    margin: 5rem;
  }
  .sectiontext__p {
    text-align: left;
    margin-bottom: 8rem;
    padding: 0.5rem;
  }
  .sectiontext__contact {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
  }
  .sectiontext__contact__ul {
    list-style: none;
    margin: 0.2rem;
    padding: 1rem;
  }
  .sectiontext__contact__ul--li {
    text-align: left;
    margin: 1rem;
  }
  .sectiontext__ul {
    list-style: none;
    margin-bottom: 8rem;
  }
  .sectiontext__ul--li {
    text-align: left;
  }
  .imggallery {
    display: flex;
    justify-content: center;
    margin: 5rem;
  }
  .imggallery__img {
    border: 5px solid white;
    max-width: 100%;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .header__h1 {
    width: 100%;
    margin-left: 0;
  }
  .section {
    height: 25rem;
  }
  .section .imggallery__img {
    max-width: 50%;
  }
  .sectiontext__p {
    padding: 2rem;
  }
  .sectiontext__contact {
    margin: 3rem;
    padding: 3rem;
  }
  .sectiontext__ul {
    margin-bottom: 8rem;
  }
  .sectiontext__ul--li {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .header {
    justify-content: start;
  }
  .header .navbar:hover .navbar__ul,
  .header .navbar:hover {
    opacity: 1;
    visibility: visible;
  }
  .section {
    height: 35rem;
  }
  .section__img {
    max-width: 50%;
  }
  .sectiontext__p {
    padding: 5rem;
  }
  .imggallery__img {
    max-width: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
